@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
}

.exemplo {
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 200px;
    border: 30px solid;
}

#exemplo-1 {
    border-image-source: url('../CSS/imagens/borda.png');
}

#exemplo-2 {
    border-image-source: linear-gradient(red,blue);
}